/* --- Post preview (feed) --- */

.post-preview .post-image {
    filter: grayscale(0%);
}

.post-preview .post-image:hover {
    filter: grayscale(10%);
}

.post-preview .post-image img {
    border-radius: 100px;
}

.post-preview .post-image img:hover {
    border: 1px solid #cccccc;
}